Source: autopkgtest-upgrade-testing
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all-dev (>= 3.4),
               python3-lxc,
               python3-setuptools,
               python3-yaml,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/autopkgtest-upgrade-testing
Vcs-Bzr: https://code.launchpad.net/~auto-upgrade-testing-dev/autopkgtest-upgrade-testing/trunk
X-Python3-Version: >= 3.3

Package: autopkgtest-upgrade-testing
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         autopkgtest,
         python3-yaml,
         python3-lxc,
         python3-pkg-resources,
Description: Test release upgrades in a virtual environment
 A tool to do QA for release upgrades in ubuntu that performs upgrades
 in a virtual environment. LXC is initially supported, with qemu/kvm to come
 later.
