Source: auto-upgrade-testing
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all-dev (>= 3.4),
               python3-flake8,
               python3-lxc,
               python3-paramiko,
               python3-pexpect,
               python3-retrying,
               python3-setuptools,
               python3-yaml,
Standards-Version: 3.9.7
Homepage: https://launchpad.net/auto-upgrade-testing
Vcs-Bzr: https://code.launchpad.net/~canonical-platform-qa/auto-upgrade-testing/autopkgtest
X-Python3-Version: >= 3.3

Package: auto-upgrade-testing
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         autopkgtest (>= 3),
         lxc-templates,
         python3-yaml,
         python3-lxc,
         python3-paramiko,
         python3-pexpect,
         python3-pkg-resources,
         python3-retrying,
Description: Test release upgrades in a virtual environment
 A tool to do QA for release upgrades in ubuntu that performs upgrades
 in a virtual environment. LXC is initially supported, with qemu/kvm to come
 later.
