#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	# Helpful doc: http://pep8.readthedocs.org/en/latest/intro.html#error-codes
	python3 -m flake8.run --ignore=W503 .
